[submodule "Documentation"]
	path = Documentation
	url = https://github.com/marc7s/Traffic-Simulator-Documentation
[submodule "TrafficSimulator/RoadArchitect"]
	path = TrafficSimulator/RoadArchitect
	url = https://github.com/marc7s/RoadArchitect
[submodule "TrafficSimulator/Assets/RoadArchitect"]
	path = TrafficSimulator/Assets/RoadArchitect
	url = https://github.com/marc7s/RoadArchitect
