.menu-button {
    font-size: 20px;
}

.settings {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 200px;
}

.primary-text-colour Label {
    color: rgb(255, 255, 255);
}

.primary-text-colour {
    color: rgb(255, 255, 255);
}

.primary-text-colour VisualElement PopupTextElement {
    color: rgb(255, 255, 255);
}

